.top {
  display: flex;
  align-items: center;

  &Title {
    font-size: 48px;
    line-height: 59px;
    font-family: var(--montReg);
    color: #ffffff;
    margin-right: 57px;
  }

  &Img {
    display: block;
    width: 212px;
  }
}

.some {
  z-index: -12 !important;
  background-color: #ffffff;
}

.search {
  &DropDown {
    z-index: 99 !important;
  }

  &InputBox img {
    display: none;
  }

  &Box {
    width: 100%;
    background: rgba(26, 26, 26, 0.6);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }

  &InputBox {
    display: flex;
    width: 100%;
  }

  &Input {
    max-width: 797px;
    width: 100%;
    background: rgba(26, 26, 26, 0.6);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px;
  }

  &Btn {
    background: #747ca5;
    font-family: var(--montReg);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 14px 0;
    border: none;
    width: 252px;
    margin-left: 20px;
    outline: none;

    img {
      margin-right: 20px;
      display: block;
    }
  }

  &DropDowns {
    display: flex;
    z-index: 10;
  }
}

.cardsTitle {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  font-family: var(--montReg);
}

.drop {
  margin-top: 20px;
  margin-right: 20px;

  &Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    z-index: -2 !important;
  }

  &Label {
    font-size: 10px;
    line-height: 14px;
    font-family: var(--montReg);
    color: #999999;
    margin-bottom: 5px;
  }

  &Card {
    margin-bottom: 20px;
    // z-index: ;
  }
}

.pagination {
  display: flex;
  background: #747ca5;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;

  a {
    color: #ffffff;
    font-family: var(--montReg);
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }

  li {
    margin-right: 20px;
  }
}

//==============MEDIA START===========================

@media (max-width: 1200px) {
  .search {
    &DropDowns {
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 960px) {
  .top {
    &Title {
      font-size: 36px;
      line-height: 44px;
    }
  }
}

@media (max-width: 720px) {
  .top {
    &Img {
      display: none;
    }

    &Title {
      margin-bottom: 55px;
    }
  }

  .search {
    &Btn {
      display: none;
    }

    &InputBox img {
      position: absolute;
      right: 35px;
      display: block;
    }

    &InputBox {
      align-items: center;
    }
  }
}

@media (max-width: 664px) {
  .drop {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .top {
    &Title {
      font-size: 24px;
      line-height: 29px;
      margin-right: 0;
      text-align: center;
    }
  }
}
