.main {

  &__registration {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
  }

  &__reg {
    display: flex;
    background: rgba(26, 26, 26, 0.6);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    width: 100%;
    position: relative;

    &_swiperSlide {
      display: flex;
      padding: 50px;
    }

    &_dots {
      position: absolute;
      bottom: 40px;
      left: 40px;
      z-index: 1;
      width: 280px;
      display: flex;
      justify-content: space-between;
    }

    &_left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_title {
      font-size: 48px;
      line-height: 59px;
      font-family: var(--montExtraBold);
      max-width: 480px;
      width: 100%;
      color: #ffffff;
    }

    &_title a {
      color: #747ca5;
    }

    &_descr {
      max-width: 480px;
      width: 100%;
      color: #ffffff;
      font-size: 18px;
      line-height: 28px;
      font-family: var(--montReg);
      margin-top: 10px;
      margin-bottom: 32px;
    }

    &_right {
      width: 50%;
    }

    &_right img {
      display: block;
      width: 100%;
    }

    &_icon {
      cursor: pointer;
      background: transparent;
      outline: none;
      border: none;

    }


    &_box {
      overflow: hidden;
      padding: 40px;
    }
  }
}

.main_recomend {
  margin-top: 30px;

  &_wrap {
    width: fit-content !important;
    height: 100% !important;
  }

  &_title {
    font-size: 24px;
    line-height: 36px;
    font-family: var(--montBold);
    color: #ffffff;
    text-transform: capitalize;
  }

  &_cards {
    margin-top: 20px;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }

  // &_cards &_card:last-child {
  //   margin-right: 0;
  // }

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
    height: 100%;
    padding: 20px;
    background: rgba(26, 26, 26, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(40px);
    margin-right: 15px;

    &Author {
      font-size: 12px;
      line-height: 18px;
      font-family: var(--montBold);
      color: #ffffff;
      margin-bottom: 10px;
    }

    &ImgBox {
      position: relative;
      width: 170px;
      border-radius: 10px;
    }

    &ImgBox img {
      width: 100%;
      display: block;
    }

    &Btns {
      display: flex;
      gap: 5px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    &Link1,
    &Link2 {
      background: #479efc;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      display: flex;
      padding: 4px 0;
      justify-content: center;
      width: 36px;
      font-size: 8px;
      line-height: 12px;
      font-family: var(--montBold);
      color: #ffffff;
    }

    &Link2 {
      background: #fe8d00;
    }

    &Title {
      margin-top: 10px;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      font-family: var(--montBold);
      color: #ffffff;
      margin-bottom: 6.5px;
    }

    &Stars {
      display: flex;
      gap: 1px;
      width: 100%;
      justify-content: center;
    }

    &Star {
      color: #fe8d00;
      font-size: 9px;
    }

    &Price {
      font-size: 10px;
      line-height: 14px;
      font-family: var(--montBold);
      color: #747ca5;

      &Box {
        display: flex;
        justify-content: space-between;
        margin-top: 5.5px;
      }
    }
  }
}

.findMore_link {
  display: flex;
  width: 220px;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  font-family: var(--montReg);
  background: #747ca5;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 9px 0;
  margin: 0 auto;
}

.findMore_link img {
  margin-left: 20px;
}


.main__registration::after {
  content: '';
  position: absolute;
  max-width: 820px;
  width: 100%;
  background: #635995;
  box-shadow: 0px 4px 30px rgba(99, 89, 149, 0.5);
  bottom: 13%;
  left: -68px;
  height: 820px;
  border-radius: 50%;
  z-index: -1;
  display: block;
}

.main__registration:before {
  display: block;
  content: '';
  position: absolute;
  max-width: 450px;
  width: 100%;
  background: #EC7368;
  box-shadow: 0px 4px 50px rgba(236, 115, 104, 0.5);
  top: 25%;
  right: -91px;
  height: 450px;
  border-radius: 50%;
  z-index: -1;
}






@media (max-width: 1200px) {


  .main {
    &__registration:before {
      max-width: 310px;
      height: 310px;
      top: 372px;
    }


    &__registration:after {
      max-width: 555px;
      height: 555px;
      right: -107px;
    }

    &__reg {

      &_swiperSlide {
        flex-direction: column;
      }

      &_left,
      &_right {
        width: 100%;
        margin-bottom: 40px;
      }

      &_title,
      &_descr {
        width: 100%;
        max-width: none;
      }

      &_dots {
        left: auto;
        bottom: 20px;
        margin: 0 auto;
      }


    }
  }



}


@media(max-width: 920px) {
  .main__reg_ {

    &left {
      width: 100%;
    }

    &right {
      width: 100%;
    }
  }
}









@media (max-width: 760px) {
  .main {
    &_recomend {

      &_card {
        width: 135px;
        padding: 10px;

        &ImgBox {
          width: 100%;
        }

        &Author {
          display: none;
        }

        &_wrap{
          width: 135px !important;
        }
      }

    }

    &__reg_ {

      &title {
        font-size: 24px;
        line-height: 29px;
      }

      &descr {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 0;
      }


      &swiperSlide {
        padding: 20px;
      }
    }
  }


  @media(max-width: 480px) {
    .main__reg_dots{
      width: 240px;
    }
    
  }

  .main__registration:after {
    max-width: 320px;
    height: 320px;
    top: 100px;
    right: -186px;
  }

  .main__registration:before {
    max-width: 280px;
    height: 280px;
    top: 372px;
  }


}




.overlay {
  position: absolute;
  width: 50px;
  background: linear-gradient(90deg, rgba(242, 243, 247, 0) 13.99%, #424040 84.31%);
  top: 0;
  right: 0;
  height: 100%;
  z-index: 110;
}

main {

  overflow-x: hidden;
}