.arrow {

    &Right {
        display: block;

    }

    &Left {
        display: block;
        transform: rotate(180deg);
    }

    &Top {
        display: block;
        transform: rotate(90deg);

    }

    &Bottom {
        display: block;
        transform: rotate(270deg);

    }


}