.main {
  background: #3a3f4e;
}

.main__registration {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.main__reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(26, 26, 26, 0.6);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  width: 1110px;
  padding: 50px 0 50px 50px;
}

.main__reg-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__reg-title {
  font-size: 48px;
  line-height: 59px;
  font-family: var(--montExtraBold);
  max-width: 480px;
  width: 100%;
  color: #ffffff;
}

.main__reg-title a {
  color: #747ca5;
}

.main__reg-descr {
  max-width: 480px;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--montReg);
  margin-top: 10px;
  margin-bottom: 32px;
}

.main__reg-right {
  width: 50%;
}

.main__reg-right img {
  display: block;
}

.main__reg-icon {
  cursor: pointer;
  background: transparent;
  border: none;
}

.main__reg-box {
  overflow: hidden;
}

.main_recomend {
  margin-top: 30px;
}

.main_recomend-title {
  font-size: 24px;
  line-height: 36px;
  font-family: var(--montBold);
  color: #ffffff;
  text-transform: capitalize;
}

.main_recomend-cards {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.main_recomend-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 210px;
  padding: 20px;
  background: rgba(26, 26, 26, 0.6);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.main_recomend-cardAuthor {
  font-size: 12px;
  line-height: 18px;
  font-family: var(--montBold);
  color: #ffffff;
  margin-bottom: 10px;
}

.main_recomend-cardImgBox {
  position: relative;
  width: 170px;
  border-radius: 10px;
}

.main_recomend-cardImgBox img {
  width: 100%;
  display: block;
}

.main_recomend-cardBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.main_recomend-cardLink1,
.main_recomend-cardLink2 {
  background: #479efc;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 36px;
  font-size: 8px;
  line-height: 12px;
  font-family: var(--montBold);
  color: #ffffff;
}

.main_recomend-cardLink2 {
  background: #fe8d00;
}

.main_recomend-cardTitle {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  font-family: var(--montBold);
  color: #ffffff;
  margin-bottom: 6.5px;
}

.main_recomend-cardStars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main_recomend-cardStar {
  color: #fe8d00;
  font-size: 9px;
}

.main_recomend-cardPrice {
  font-size: 10px;
  line-height: 14px;
  font-family: var(--montBold);
  color: #747ca5;
}

.main_recomend-cardPriceBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 5.5px;
}

.findMore-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  font-family: var(--montReg);
  background: #747ca5;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 9px 0;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .main_recomend-cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}
/*# sourceMappingURL=mainRegister.css.map */
