.comm {
  display: flex;
  margin-bottom: 20px;

  &Left {
    max-width: 350px;
    width: 100%;

    &Box {
      width: 100%;
      background: rgba(26, 26, 26, 0.6);
      padding: 20px;
      // backdrop-filter: blur(40px);
      border-radius: 20px;

      img {
        display: block;
        max-width: 310px;
        width: 100%;
        border-radius: 10px;
      }
    }

    &Link {
      background: #747ca5;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      padding: 14px 0;
      font-size: 14px;
      line-height: 22px;
      font-family: var(--montReg);
      color: #ffffff;
      margin-top: 20px;

      img {
        margin-right: 20px;
      }
    }
  }

  &Right {
    max-width: 730px;
    width: 100%;
    margin-left: 30px;
    position: relative;

    &Stars {
      display: flex;
      align-items: center;
    }

    &Title {
      font-size: 48px;
      line-height: 64px;
      font-family: var(--montReg);
      color: #ffffff;
    }

    &TitleBox {
      display: none;
    }

    &Label {
      font-size: 14px;
      line-height: 22px;
      color: #ffffff;
      font-family: var(--montReg);

      margin: 20px 0;
    }

    &Box {
      width: 100%;
      background: rgba(26, 26, 26, 0.6);
      backdrop-filter: blur(40px);
      border-radius: 20px;
      padding: 20px;
    }

    &Infos {
      display: flex;
      margin-bottom: 10px;
    }

    &Infos:last-child {
      margin-bottom: 0;
    }

    &Type {
      font-size: 14px;
      line-height: 22px;
      font-family: var(--montReg);
      color: #ffffff;
      margin-right: 10px;
    }

    &Info {
      font-size: 14px;
      line-height: 22px;
      font-family: var(--montReg);
      color: #ffffff;
    }

    &Format {
      font-size: 14px;
      line-height: 22px;
      text-decoration-line: underline;
      font-family: var(--montReg);
      color: #747ca5;
    }

    &Links {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    &Btn {
      background: #999999;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      max-width: 350px;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 15px 0;
      font-size: 14px;
      line-height: 22px;
      font-family: var(--montReg);
      color: #ffffff;
      align-items: center;

      &Icon {
        margin-right: 15px;
        font-size: 18px;
      }
    }
    &Links &Btn:nth-of-type(2) {
      background: #33d160;
    }

    &Rate {
      margin-left: 10px;
      font-size: 12px;
      line-height: 18px;
      font-family: var(--montReg);
      color: #ffffff;
    }

    &Btns {
      display: flex;
      gap: 5px;
      position: absolute;
      top: -15px;
      right: 20px;
    }

    &Btn1,
    &Btn2 {
      background: #479efc;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
      border-radius: 15px;
      display: flex;
      padding: 6px 0;
      justify-content: center;
      width: 56px;
      font-size: 12px;
      line-height: 18px;
      font-family: var(--montReg);
      color: #ffffff;
      margin-left: 5px;
    }

    &Btn2 {
      background: #fe8d00;
    }
  }

  &Descr {
    padding: 20px;
    display: block;
    background: rgba(26, 26, 26, 0.6);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    font-family: var(--montReg);
    margin-bottom: 20px;

    &Title {
      font-size: 24px;
      line-height: 36px;
      font-family: var(--montReg);
      color: #ffffff;
      margin-bottom: 20px;
    }
  }

  &SlideTitle {
    font-size: 24px;
    line-height: 36px;
    font-family: var(--montReg);
    color: #ffffff;
    text-transform: capitalize;
  }
}

.active {
  background-color: #fe8d00;
}

// ============  Media Start  ========================

@media (max-width: 1200px) {
  .comm {
    &Right {
      &Links &Btn:nth-of-type(2) {
        margin-left: 20px;
      }

      &Btn {
        max-width: 270px;
      }
    }
  }
}

@media (max-width: 960px) {
  .comm {
    &Right {
      &TitleBox {
        display: block;
      }
      &TitleBox1 {
        display: none;
      }

      &Links {
        flex-direction: column;
      }

      &Btn {
        max-width: 100%;
      }

      &Links &Btn:nth-of-type(2) {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 760px) {
  .comm {
    flex-direction: column;
    align-items: center;

    &Left {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 480px) {
  .commRightTitle {
    font-size: 24px;
    line-height: 36px;
  }
}
