input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swiper-pagination {
  text-align: start !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: fit-content !important;
  bottom: 50px !important;
  left: 79px !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: rgba(255, 255, 255, 0.5) !important;
  transition: 0.5s !important;
  border-radius: 5px !important;
  margin-right: 20px !important;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

.swiper-pagination-bullet-active {
  width: 49px !important;
  background: #ffffff !important;
  border-radius: 5px !important;
  transition: 0.5s;
}

.rotated {
  transform: rotate(180deg);
}

.down {
  bottom: -30% !important;
}

.parallax {
  width: 100% !important;
  height: 100% !important;
  overflow-y: visible;
  min-height: 1000px;
  display: flex !important;
  align-items: center;
  top: -20px;
}

.parallax-wrapper {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.wrap {
  position: relative;
}

.header__nav_select {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  background: transparent;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  border: none;
  font-family: var(--montReg);
  box-sizing: border-box;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

.header__nav_select .Dropdown-control {
  background: #434864 !important;
  border-radius: 50% !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  box-sizing: border-box;
  position: relative;
  cursor: pointer !important;
  text-transform: uppercase;
  /* position: absolute; */
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav_select .Dropdown-placeholder {
  font-family: var(--montReg);
  color: #ffffff;
}

.header__nav_select .Dropdown-arrow {
  display: none !important;
}

.header__nav_select .Dropdown-menu {
  display: flex;
  flex-direction: column;
  width: fit-content !important;
  border-radius: 10px;
  border: none !important;
  color: #fff;
  background: #747ca5 !important;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24) !important;
  padding: 10px;
  transition: all 0.5s ease-out;
  z-index: 100;
  position: absolute;
  top: 45px !important;
  left: -20px !important;
}

.header__nav_select .Dropdown-option {
  background: transparent !important;
  color: #ffffff !important;
}

.header__nav_select .Dropdown-option .is-selected {
  background: transparent !important;

  color: #ffffff !important;
  font-family: var(--montReg);
  line-height: 22px;
  cursor: pointer;
  z-index: 100;
  text-transform: uppercase;
}

.search-dropDown {
  width: 252px;
}

.search-dropDown .Dropdown-placeholder {
  color: #ffffff !important;
  font-family: var(--montReg);
  font-size: 14px;
  line-height: 22px;
}

.search-dropDown .Dropdown-control {
  border-radius: 20px;
  display: block;
  background: rgba(26, 26, 26, 0.6);
  backdrop-filter: blur(40px);
  border: none;
  position: relative !important;
}

.search-dropDown .Dropdown-menu {
  background: rgba(26, 26, 26, 0.6);
  display: flex;
  flex-direction: column;
  top: 45px;
  border-radius: 10px;
  border: none !important;
  color: #fff;
  padding: 10px;
  transition: all 0.5s ease-out;
  z-index: 100;
  position: absolute;
  /* top: 0 !important; */
  max-height: fit-content !important;
}

.search-dropDown .Dropdown-option {
  background: transparent !important;
  color: #ffffff !important;
  font-family: var(--montReg);
}
.search-dropDown .Dropdown-option .is-selected {
  background: transparent !important;
}

.wrap-overlay {
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.Dropdown-placeholder {
  font-size: 12px;
  line-height: 18px;
  font-family: var(--montReg);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
}

@media (max-width: 1200px) {
  .swiper-pagination {
    text-align: start !important;
  }

  .swiper {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    width: fit-content !important;
    bottom: 28px !important;
    left: auto !important;
  }
}

.liginField {
  width: 100%;
  background: rgba(26, 26, 26, 0.6);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 0 14px 20px;
}

.mt-5 {
  margin-top: 180px;
}

.selected {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.selected a {
  color: #444444 !important;
}

.next {
  margin-right: 0 !important;
}

@media (max-width: 480px) {
  .swiper-pagination-bullet {
    margin-right: 15px !important;
  }
}
