.swiper-pagination {
  text-align: start !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: fit-content !important;
  bottom: 50px !important;
  left: 79px !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: rgba(255, 255, 255, 0.5) !important;
  transition: 0.5s !important;
  border-radius: 5px !important;
  margin-right: 20px !important;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

.swiper-pagination-bullet-active {
  width: 49px !important;
  background: #ffffff !important;
  border-radius: 5px !important;
  transition: 0.5s;
}

.rotated {
  transform: rotate(180deg);
}

.down {
  bottom: -30% !important;
}

.parallax {
  width: 100% !important;
  height: 100% !important;
  overflow-y: visible;
  min-height: 1000px;
  display: flex !important;
  align-items: center;
  top: -20px;
}

.parallax-wrapper {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.wrap {
  position: relative;
}

.Dropdown-control {
  background: #434864 !important;
  border-radius: 50% !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  box-sizing: border-box;
  position: relative;
  cursor: pointer !important;
  text-transform: uppercase;
  position: absolute;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dropdown-placeholder {
  font-family: var(--montBold);
  color: #ffffff;
}

.Dropdown-arrow{
  display: none !important;
}

.Dropdown-menu{
  
  display: flex;
  flex-direction: column;
  width: 80px !important;
  border-radius: 10px;
  border: none !important;
  color: #fff;
  background: #747ca5 !important  ;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24) !important;
  padding: 10px;
  transition: all 0.5s ease-out;
  z-index: 100;
  position: absolute;
  top: 45px !important;
  left: -20px !important;
}

.Dropdown-option{
  background: transparent !important;
  color: #ffffff !important;

}

.Dropdown-option .is-selected{
  background: transparent !important;
  
  color: #ffffff !important;
  font-family: var(--montBold);
  line-height: 22px;
  cursor: pointer;
  z-index: 100;
  text-transform: uppercase;
}

.wrap-overlay {
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.Dropdown-placeholder {
  font-size: 12px;
  line-height: 18px;
  font-family: var(--montBold);
}


@media (max-width: 1200px) {
  .swiper-pagination {
    text-align: start !important;
  }

  .swiper {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    width: fit-content !important;
    bottom: 28px !important;
    left: auto !important;
  }
}

@media (max-width: 480px) {
  .swiper-pagination-bullet {
    margin-right: 15px !important;
  }
}