.swiper-pagination {
  text-align: start !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: fit-content !important;
  bottom: 50px !important;
  left: 79px !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: rgba(255, 255, 255, 0.5) !important;
  transition: 0.5s !important;
  border-radius: 5px !important;
  margin-right: 20px !important;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

.swiper-pagination-bullet-active {
  width: 49px !important;
  background: #ffffff !important;
  border-radius: 5px !important;
  transition: 0.5s;
}

.rotated {
  transform: rotate(180deg);
}
.down {
  bottom: -30% !important;
}

.parallax {
  width: 100% !important;
  height: 100% !important;
  overflow-y: visible;
  min-height: 1000px;
  display: flex !important;
  align-items: center;
  top: -20px;
}

.parallax-wrapper {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.wrap {
  position: relative;
}
.wrap-overlay {
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: -1;
}


@media (max-width: 1200px) {
  .swiper-pagination {
    text-align: start !important;
  }

  .swiper {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    width: fit-content !important;
    bottom: 28px !important;
    left: auto !important;
  }
}

@media (max-width: 480px) {
  .swiper-pagination-bullet {
    margin-right: 15px !important;
  }
}
