.circles {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  top: 0;
  // bottom: 0;
  left: -135px;
  right: 73px;
  overflow-y: visible;
}

.circleBig {
  max-width: 720px;
  width: 100%;
  height: 720px;
  border-radius: 50%;
  display: block;
  left: -50px;
}

.circleSmall {
  display: block;
  max-width: 450px;
  width: 100%;
  height: 450px;
  border-radius: 50%;
  z-index: -1;
  right: -351px !important;
  left: initial !important;
}

.books {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  // &Books{
  //   position: absolute;
  // }
}

.parallaxBook {
  position: absolute;
}

.books .parallaxBook:nth-of-type(1) {
  left: 84% !important;
  top: -6% !important;
  width: 150px;
}

.books .parallaxBook:nth-of-type(2) {
  left: 0% !important;
  top: 90% !important;
  width: 150px;
}

.books .parallaxBook:nth-of-type(3) {
  left: 74% !important;
  top: 87% !important;
  width: 150px;
}

.books .parallaxBook:nth-of-type(4) {
  left: 47% !important;
  top: 24% !important;
  width: 150px;
}

.books .parallaxBook:nth-of-type(5) {
  left: 12% !important;
  top: 2% !important;
  width: 150px;
}

@media (max-width: 1200px) {
  .circleBig {
    max-width: 555px;
    height: 555px;
  }

  .circleSmall {
    max-width: 310px;
    height: 310px;
    right: -240px !important;
  }
}

@media (max-width: 760px) {
  .circleBig {
    max-width: 480px;
    height: 480px;
  }

  .circleSmall {
    max-width: 280px;
    height: 280px;
    // top: 372px;
  }
}
